<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shop Bridge</title>
  <!-- Angular Material requires Angular.js Libraries -->
  <link data-require="angular-material@*" data-semver="1.1.0" rel="stylesheet"
    href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" />
  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>

  <!-- Angular Material Javascript now available via Google CDN; version 1.2.1 used here -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- List js file accessing -->
  <script src="./List.js"></script>
  <!-- style sheet accessing -->
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.css" />
</head>

<body>
  <div ng-app="latestDialogApp" ng-controller="AppController">
    <div style="background-color: burlywood;height: 70px;">
      <h1 style="text-align: center;">Shop Bridge</h1>
    </div>

  </br>
    <table cellspacing="0">
      <thead>
        <tr>
          <th class="w-70px">No</th>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Edit Item</th>
          <th>Delete Item</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items track by $index">
          <td class="fw7 w-70px">{{item.id}}</td>
          <td class="fw7 w-70px">{{item.name}}</td>
          <td class="fw7">&#8377; {{item.price|number:2}}</td>
          <td class="fw7">{{item.description}}</td>

          <td class="fw7">
            <md-button class="md-raised md-primary" name="button" ng-click="showEditModal($index)">EDIT</md-button>
          </td>

          <td class="fw7">
            <md-button class="md-raised md-accent" name="button" ng-click="deleteItem($index)">DELETE</md-button>
          </td>
        </tr>
        <tr ng-if="!items.length">
          <td colspan="4">
            <div>No Records Found</div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-end align-center bw b">
      <md-button class="md-warn fw8 mv3" type="button" ng-click="showAddItemModal()">
        ADD NEW ITEM
      </md-button>
    </div>
    <!-- insert new item -->
    <div style="visibility: hidden">
      <div class="md-dialog-container" id="myDialog">
        <md-dialog layout-padding>
          <form ng-submit="addItem()" class="mb0">
            <h2 >Add New Item</h2>
            <div class="flex-row ">
              <label>Id</label>
              <span>:</span>
              <div >
                <input class="input ml3 black fw7" placeholder="Enter item No." type="number" min="0"
                  ng-keypress="isNumber($event)" ng-model="editInfo.id" required />
              </div>
            </div>
            <div >
              <label >Name</label>
              <span>:</span>
              <div >
                <input class="input ml3 black fw7" placeholder="Enter Name" ng-model="editInfo.name" required />
              </div>
            </div>
            <div>
              <label >Price</label>
              <span>:</span>
              <div >
                <input class="input ml3 black fw7" placeholder="Enter Amount" type="number"
                  ng-keypress="isNumber($event)" min="0" ng-model="editInfo.price" required />
              </div>
            </div>
            <div >
              <label >Description</label>
              <span>:</span>
              <div >
                <input class="input ml3 black fw7" placeholder="Add Description" type="text"
                  ng-model="editInfo.description" required />
              </div>
            </div>
            <div >
              <md-button class="md-warn fw9 mt3 mh0" type="button" ng-click="hide()">
                CANCEL
              </md-button>
              <md-button class="md-primary fw9 mt3 mh0" type="submit"
                ng-disabled="!(editInfo.description && editInfo.price && editInfo.name)">
                SAVE
              </md-button>
            </div>
          </form>
          <span ng-show="errorMsg" class="md-warn fw8 mv3">{{errorMsg}}</span>
        </md-dialog>
      </div>
    </div>

    <!-- Edit item -->
    <div style="visibility: hidden">
      <div class="md-dialog-container" id="myDialogEdit">
        <md-dialog layout-padding>
          <form ng-submit="editItem()" class="mb0">
            <h2>Edit Item</h2>
            <div >
              <label class="fw7 f5 w-40" for="">Id</label>
              <span>:</span>
              <div >
                <input class="input ml3 black fw7" placeholder="Enter item No." disabled ng-model="editInfo.id"
                  required />
              </div>
            </div>
            <div >
              <label >Name</label>
              <span>:</span>
              <div>
                <input class="input ml3 black fw7" placeholder="Enter Name" type="text" ng-model="editInfo.name"
                  required />
              </div>
            </div>
            <div >
              <label class="fw7 f5 w-40" for="">Price</label>
              <span>:</span>
              <div >
                <input class="input ml3 black fw7" placeholder="Enter Amount" type="number"
                  ng-keypress="isNumber($event)" min="0" ng-model="editInfo.price" required />
              </div>
            </div>
            <div >
              <label class="fw7 f5 w-40" for="">Description</label>
              <span>:</span>
              <div >
                <input class="input ml3 black fw7" placeholder="Add Description" type="text"
                  ng-model="editInfo.description" required />
              </div>
            </div>
            <div class="flex justify-end align-center">
              <md-button class="md-warn fw9 mt3 mh0" type="button" ng-click="hide()">
                CANCEL
              </md-button>
              <md-button class="md-primary fw9 mt3 mh0" type="submit"
                ng-disabled="!(editInfo.description && editInfo.price && editInfo.name)">
                SAVE
              </md-button>
            </div>
          </form>
        </md-dialog>
      </div>
    </div>
  </div>
</body>

</html>